// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Title Drop Shadow
body > header h1 a, body > header h1 a:visited, body > header h1 a:hover {
   text-shadow: 0 1px 0 #ccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
		0 20px 20px rgba(0,0,0,.15);
}
#main {
     -ms-box-shadow: 3px 3px 4px #000;
     -moz-box-shadow: 3px 3px 4px #000;
     -webkit-box-shadow: 3px 3px 4px #000;
     -o-box-shadow: 3px 3px 4px #000;
     box-shadow: 3px 3px 4px #000;
}
body > header {
     -ms-box-shadow: 3px 3px 4px #000;
     -moz-box-shadow: 3px 3px 4px #000;
     -webkit-box-shadow: 3px 3px 4px #000;
     -o-box-shadow: 3px 3px 4px #000;
     box-shadow: 3px 3px 4px #000;
}
nav {
     -ms-box-shadow: 3px 3px 4px #000;
     -moz-box-shadow: 3px 3px 4px #000;
     -webkit-box-shadow: 3px 3px 4px #000;
     -o-box-shadow: 3px 3px 4px #000;
     box-shadow: 3px 3px 4px #000;
}
body > footer {
     -ms-box-shadow: 3px 3px 4px #000;
     -moz-box-shadow: 3px 3px 4px #000;
     -webkit-box-shadow: 3px 3px 4px #000;
     -o-box-shadow: 3px 3px 4px #000;
     box-shadow: 3px 3px 4px #000;
}
.ribbon {
     background-color: #a00;
     overflow: hidden;
     /* top left corner */
     position: absolute;
     right: -1.3em;
     top: 2.5em;
     /* 45 deg ccw rotation */
     transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     /* shadow */
     box-shadow: 0 0 1em #888;
     -ms-box-shadow: 0 0 1em #888;
     -moz-box-shadow: 0 0 1em #888;
     -webkit-box-shadow: 0 0 1em #888;
     -o-box-shadow: 0 0 1em #888;
}
.ribbon a {
     border: 1px solid #faa;
     color: #fff;
     display: block;
     font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
     margin: 0.05em 0 0.075em 0;
     padding: 0.5em 3.5em;
     text-align: center;
     text-decoration: none;
     /* shadow */
     text-shadow: 0 0 0.5em #444;
}
.ribbon:hover {
     background-color: #f00; 
     box-shadow: 0 0 1em #ffff00;
     -ms-box-shadow: 0 0 1em #ffff00;
     -moz-box-shadow: 0 0 1em #ffff00;
     -webkit-box-shadow: 0 0 1em #ffff00;
     -o-box-shadow: 0 0 1em #ffff00;

}
